<h1>diabetes prediction using Decision tree classification</h1>

<h3>Decision tree Assumptions</h3>
 <h5>1.Decision trees can handle high dimensional data with good accuracy.<br>
    2. Entropy is using as criterion instead of gini<br>
    3. Let the max_depth value is equal to 3</h5>

<h3>Loaded required Library</h3>

> Indented block

In [ ]:
#Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

<h3>Load the dataset and prepare the data</h3>

In [ ]:
col_names = ['pregnant','glucose', 'bp','skin','insulin','bmi','pedigree','age','label']
# Since no column name given for the dataset,
# We will write the column name ina python list and define it as a variable.
df=pd.read_csv("diabetes (3).csv",header=None, names =col_names)
# importing csv file and giving column names for csv file using col_names variable

<h3>Data Analysis

<h4>head-tail analysis is a machine learnning technique that revels operortunities 
to boost conversions and  a better customer experience

In [ ]:
df.head()
# head function will returns first 5 records when we called it accepts only one argument.

   pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         6      148  72    35        0  33.6     0.627   50      1
1         1       85  66    29        0  26.6     0.351   31      0
2         8      183  64     0        0  23.3     0.672   32      1
3         1       89  66    23       94  28.1     0.167   21      0
4         0      137  40    35      168  43.1     2.288   33      1

In [ ]:
df.tail()
# tail function will returns last 5 records when we call. it accepts only one argument.

       pregnant  glucose   bp  skin  insulin    bmi  pedigree  age  label
14261        12      172   86    28      170  21.75     0.824   44      1
14262        12       65  128    28      118  25.32     0.832   35      1
14263        10       91   64    25      241  28.16     1.218   40      1
14264         3      116  131    28      230  32.06     1.577   40      0
14265        11       90   73    27      257  22.48     0.392   26      1

In [ ]:
df.describe()
# describe returns the statistical summary of the Series and DataFrame.

,pregnant,glucose,bp,skin,insulin,bmi,pedigree,age,label
count,14266.000000,14266.000000,14266.000000,14266.000000,14266.000000,14266.000000,14266.000000,14266.000000,14266.000000
mean,6.312912,115.273728,96.779966,24.556147,145.140123,26.955546,0.944349,39.361559,0.481214
std,3.531354,40.919108,24.636171,9.930362,92.352572,6.003514,0.579720,12.044924,0.499664
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,0.000000
25%,3.000000,81.000000,76.000000,17.000000,66.000000,22.012500,0.423000,28.000000,0.000000
50%,6.000000,115.000000,95.000000,25.000000,143.000000,26.970000,0.905000,39.000000,0.000000
75%,9.000000,150.000000,118.000000,33.000000,223.000000,31.710000,1.447000,50.000000,1.000000
max,17.000000,199.000000,140.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

<h3>Split data

<h5>In this step, we are going to split data in two parts (training and testing), so that we can train our model on training dataset and test its accuracy on unseen (test) data.

In [ ]:
features_cols = ['pregnant','insulin','bmi','glucose', 'bp','pedigree']
#storing pregnant, insulin, bmi, glucose, bp, and pedigree columns in feature_cols variable
X = df[features_cols]
#storing information from feature_cols in X to split the data
y = df.label
# label is the outcome class variable(0 ar 1)
#storing label data information in Y variable

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y,test_size=0.2,random_state=1)
# Using train_test_split() from the data science library scikit-learn,
# it can split arrays or matrices into random train and test subsets.
# random state : train_test_split splits the data randomly, so we should give an intiger as random state.
# so that the way of splitting must be same

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy',max_depth=3)
# criterion determines how the impurity of a split will be measured.
# The default value is “gini” but you can also use “entropy” as a metric for impurity.
# Entropy can be defined as a measure of the purity of the sub split.
# max_depth can be described as the length of the longest path from the tree root to a leaf.
# if we did not give value for max_depth data will get underfitted and if the depth value is
# is hight data ight get over fitted so giving value as 3

clf = clf.fit(X_train,Y_train)
#fitting a training data in the clf object using fit methos

Y_pred = clf.predict(X_test)
#Predict the response for test dataset

In [ ]:
print("Accuracy is:",metrics.accuracy_score(Y_test,Y_pred))
#printing the accuracy

Accuracy is: 0.5402943237561317